<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="$serviceName" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        
        <baseUrl>$url</baseUrl>
        
        <jsonSerializer type="Sitecore.RestSharp.Serialization.JsonNetSerializer, Sitecore.RestSharp"/>
        
        <xmlSerializer type="RestSharp.Serializers.XmlSerializer, RestSharp"/>
        
        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/x-json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/javascript" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>
        
        <headers hint="raw:AddHeader">
          <header name="" value=""/>
        </headers>

        <tokens hint="raw:AddTokenReplacer">
          <add name="$name" type="Namespace.TypeName, Assembly"/>
        </tokens>

        <parameters hint="raw:AddParameterReplacer">
          <add parameter="page_token" type="Sitecore.RestSharp.Parameters.DymamicParameterReplacerWithEmptyChecking, Sitecore.RestSharp"/>
        </parameters>

        <!--  If you have only one account, you can specify authenticator here. -->
        <authenticator type="Namespace.TypeName, Assembly"/>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">          
            <!-- 
              Request can be resolved by: 
              - name
              - requestType & responseType.
                If value is not specified, Sitecore.RestSharp.Data.RestEmptyType class will be used
            -->
            <read name="request_name" url="/v2/labels?limit=500%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <update url="$url" requestType="Namespace.TypeName, Assembly" responseType="Namespace.TypeName, Assembly"/>    
            
            <!-- 
              You can specify the HTTP method.
              
              Default:
               create - POST
               read - GET
               update - PUT
               delete - DELETE
            -->
            <read name="read_post" url="$url" method="POST"/>

            <!-- 
              Dynamic parameters usage(apiKey,signature).
            -->
            <read name="parameters" url="/v2/read?api_key={apiKey}%26signature={signature}"/>
          </requests>
        </requestProvider>
      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>
